
<div class="">
    <h3>async template</h3>
    <p>
        Templates can contain async expressions and functions. 
        Templates that contain async functions must use <code>async-template</code> plugin-in, so route definition migh look something like this:
<pre>
"/async-in-template": {
    view: "async-template!views/templates/async-template.html"
}
</pre>
        <br />
        Example, fetching remote data inside template.
<pre>
&dollar;{
    async () => this.data = await(await fetch("../shared/frameworks.json", {cache: "no-store"})).json()
}
</pre>
    <br />
    And because assigment to template variable is inside function, iteration must also be in arrow function:
<pre>
&dollar;{() => this.template.forEach(this.data, (name1, value1) =&gt; 
    &#96;&lt;p&gt;
        &dollar;{name1}
        &dollar;{this.template.forEach(value1, (name2, value2) =&gt; 
            &#96;&lt;div&gt;
                &lt;span&gt;&dollar;{name2}: &lt;/span&gt;&lt;span&gt;&dollar;{value2}&lt;/span&gt;
            &lt;/div&gt;&#96;
        )}
    &lt;/p&gt;&#96;
)}
</pre>
<br />
Or, it can all be done in one single async expression:
<pre>
&dollar;{async () => this.template.forEach(await(await fetch("../shared/frameworks.json", {cache: "no-store"})).json(), (name1, value1) =&gt; 
    &#96;&lt;p&gt;
        &dollar;{name1}
        &dollar;{this.template.forEach(value1, (name2, value2) =&gt; 
            &#96;&lt;div&gt;
                &lt;span&gt;&dollar;{name2}: &lt;/span&gt;&lt;span&gt;&dollar;{value2}&lt;/span&gt;
            &lt;/div&gt;&#96;
        )}
    &lt;/p&gt;&#96;
)}
</pre>
    <br />
    And here are the results:
    <br /><hr />
    ${async () => this.template.forEach(await(await fetch("../shared/frameworks.json", {cache: "no-store"})).json(), (name1, value1) => 
        `<p>
            ${name1}
            ${this.template.forEach(value1, (name2, value2) => 
                `<div>
                    <span>${name2}: </span><span>${value2}</span>
                </div>`
            )}
        </p>`)
    }
    <hr />
    </p>
</div>
