<div class="">
    
    <h3>This view is parametrized via url!</h3>
        
    <hr />
    <p>
        Parameters are recieved trough url in format view/first/second/third/ and so on.
        <br /><br />
        This example can receieve anything from zero to three parameters as defined by <code>paramsMap</code> route method.
        <br />
        If <code>paramsMap</code> returns <code>false</code> or <code>undefinied</code> (default), that route can't receive any paramaters.
        <br />        
        If returns object, that object is considered to contained parsed parameters object.
        <br />
        In this example, it returns string from first parameter, number from second and third paremeter is parsed into string array from comma separated list.
        <br />
        Paremeters are available inside template in <code>this</code> object.
        <br /><br />
        Parameters can be render in templates using standard template lietrals syntax defined by ES2015 specification.<br/>
        See more details at: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals">template literals reference</a>
        <br /><br />
        Note that also this view example uses <code>forEach</code> global template helper to render third parameter which is parsed into array.
    </p>
    <p>    
        View location: <pre>/app/views/templates/parameterized.html</pre>
        <br />
        Route definition:
        <pre>
"/parameterized": {
    view: "template!views/templates/parameterized.html", 
    paramsMap: (...params) => {
        if (params.length > 3) {
            return false;
        }
        return {first: params[0], second: Number(params[1]), third: params[2] ? params[2].split(",") : []};
    },
    data: {
        title: "Parameterized",
        category: "templates"
    }
}</pre>
        <br />
        Route accepts max three named paramaters (from zero to three, see <code>paramsMap</code> definition):
        <br />
        1. name: <code>first</code>, type: <code>string</code>
        <br />
        2. name: <code>second</code>, type: <code>number</code>
        <br />
        3. name: <code>third</code>, type: <code>array of strings</code>
        <br /><br />
        Current values:
        <br />
        1. first: <code>${this.first}</code>
        <br />
        2. second: <code>${this.second}</code>
        <br />
        3. third: <code>${this.third}</code>, rendered in select element and select value from first param:                
        <select>
            ${this.template.forEach(this.third, item => {
                    let selected = this.first === item ? "selected": "";
                    return `<option ${selected}>${item}</option>`
                }
            )}
        </select>
        <br /><br />
        Test urls:
        <br />
        First string param: 
        <a href="#/parameterized/first param/">#parameterized/first param/</a>
        <br />
        Second param is parsed number: 
        <a href="#/parameterized/first param/second">#parameterized/first param/second/</a>
        <br />
        Second param is parsed number: 
        <a href="#/parameterized/first param/2/">#parameterized/first param/2/</a>
        <br />
        Third is CVS list parsed to array:
        <a href="#/parameterized/test/2/first,second,third,test/">#parameterized/test/2/first,second,third,test/</a>                
        <br />
        Fourth parameter is not allowed:
        <a href="#/parameterized/1/2/3/4/">#parameterized/1/2/3/4/</a>
        <br /><br />
        You may also change url to test current parameter values...
        <br /><br />
        <hr />
    </p>
</div>
