<div class="">
    <h3>This is a plain-text view!</h3>
    <p>
        You can use this types of views to display static html content.<br />
        It does not receive any parameters or values, it just displays static html.
        <br /><br />
        View location: 
        <pre>/app/views/templates/plain-text-view.html</pre>
        <br />
        Full route definition: 

<pre>
"/": {
    view: "text!views/templates/plain-text-view.html",
    data: {
        title: "Plain text view",
        category: "templates"
    }
}</pre>

        <br />

        <br /><br />
        <hr />
    </p>
</div>
