<div class="">
    <h3>Promise in template</h3>
    <p>
        <br />
        Parameter functions can return promises that view manager know how to resolve.<br />
        They can load remote data asynchronously and return promises, for example:
<pre>
    paramsMap: async(params) => {
        if (params.length !== 0) {
            return false;
        }
        const response = await fetch("../shared/frameworks.json", {cache: "no-store"});
        return {
            data: await response.json()
        }
    }
</pre>
        <br />
        This parameter function doesnt allow any parameters, instead, it returns content of remote json file. 
        <br />
        Following template expression iterates the results:

<pre>
&dollar;{this.template.forEach(this.data, (name1, value1) =&gt; 
    &#96;&lt;p&gt;
        &dollar;{name1}
        &dollar;{this.template.forEach(value1, (name2, value2) =&gt; 
            &#96;&lt;div&gt;
                &lt;span&gt;&dollar;{name2}: &lt;/span&gt;&lt;span&gt;&dollar;{value2}&lt;/span&gt;
            &lt;/div&gt;&#96;
        )}
    &lt;/p&gt;&#96;
)}
</pre>
        And here is the result:
        <br /><hr />
        ${this.template.forEach(this.data, (name1, value1) => 
            `<p>
                ${name1}
                ${this.template.forEach(value1, (name2, value2) => 
                    `<div>
                        <span>${name2}: </span><span>${value2}</span>
                    </div>`
                )}
            </p>`
        )}
        <hr />
    </p>
</div>
