${this.template.css.import("../shared/css/todo.css", "../shared/css/todo-item.css")}

<div class="ToDo">
    <h1 class="ToDo-Header">VB SPA template To Do</h1>
    <div class="ToDo-Container">
        <div class="ToDo-Content" id="content"></div>
        <input type="text" id="input" />
        <div class="ToDo-Add" onclick="createNewToDoItem">+</div>
    </div>
</div>

${
    () => this.template.rendered = element => {
        let [item] = this.template.import("composite!views/todo-app/todo-item-template.html")();
        this.value = "";
        this.content = ["clean the house", "buy milk"].map(text => item(text)).join("");
        this.createNewToDoItem = () => model.content.append(item(model.input.value).toHTML());
        let model = new _app.Model().bind(element, this);
    }
}
