${this.template.css.import("../shared/css/todo.css", "../shared/css/todo-item.css")}

${
    (() => {
        [this.item] = this.template.import("composite!views/todo-app/todo-item-template.html")();
        this.list = ["clean the house", "buy milk"];
        this.value = "";
    })()
}

<div class="ToDo">
    <h1 class="ToDo-Header">VB SPA template To Do</h1>
    <div class="ToDo-Container">
        <div class="ToDo-Content" id="content">
            ${this.template.forEach(this.list, item => this.item(item))}
        </div>
        <input type="text" id="input" value="${this.value}" />
        <div class="ToDo-Add" onclick="createNewToDoItem">+</div>
    </div>
</div>

${
    () => this.template.rendered = element => {
        let model = new _app.Model().bind(element, {
            createNewToDoItem: () => model.content.append(this.item(model.input.value).toHTML())
        });
    }
}
