${<script>
() => {
    this.template.css("/demos/shared/css/todo.css", "/demos/shared/css/todo-item.css");
    this.itemTemplate = this.template.import("template!demos/todo-demo/template/todo-item.html");
    this.context = {
        input: "initial value"
    }
    this.count = 0;
}
</script>}
    

<div class="ToDo">
    <h1 class="ToDo-Header">ihjs To Do demo</h1>
    <div class="ToDo-Container">
        <div class="ToDo-Content" id="content">
            ${
            async () => this.template.forEach(await ihjs.fetch("/demos/shared/todo.json"), item => 
            `<span data-index=${++this.count} data-item="${item}"></span>`)
            }
        </div>
        <input type="text" id="input" />
        <div class="ToDo-Add" onclick="createNewToDoItem">+</div>
    </div>
</div>

${<script>
() => {
    this.template.rendered = () => this.model.content.findAll("span").forEach(span => ihjs.render(this.itemTemplate, span, {parent: this}));
    this.createNewToDoItem = () => {
        let element = `<span data-index=${++this.count} data-item="${this.model.input.value}"></span>`.dom();
        this.model.content.append(element);
        ihjs.render(this.itemTemplate, element, {parent: this});
    };
}
</script>}
