<div class="">
    <h3>This is a module-view that is not part of main bundle, but it has it own bundle!</h3>
    <p>
        View location:
        <pre>/app/views/modules/new-bundle/module-view.js</pre>
        <br />
        Full route definition:
<pre>
    "/new-bundle": {
        view: "views/modules/new-bundle/module-view.js",
        data: {
            title: "Neww bundle",
            category: "modules"
        }
    },
}</pre>

        <br />

        <br /><br />
        <hr />
    </p>
</div>
