<div class="">
    <h3>Example of html template that imports and executes composite template</h3>
    <p>
        Templates can contain parts (chunks, components) of templates string, template functions or template promises.
        <br />
        Everythng between template expressions will be ignored and expressions will be returned in array that can be destructed.
        See template <code>/app/views/components/composed-template.html</code>.
        <br />
        <br />
        Usage example:
<pre>
&dollar;{
    () => {
        let [part1, part2, part3] = this.template.import("composite!views/components/composed-template.html")(args);
        this.compontent1 = part1;
        this.compontent2 = part2(1, 2);
        // etc
    }
}
</pre>
        <br /><br />
        View location: 
        <pre>/app/views/components/composite-template.html</pre>
        <br />
        This example contains two text templates, one function template and one promise template which is returned after one second.
        Because of that, this entire view is rendered after one second.
        <br />
        <br />
        ${
            <script>
            () => {
                let [part1, part2, part3, part4] = this.template.import("composite!views/components/composed-template.html")();
                this.compontent1 = part1;
                this.compontent2 = part2;
                this.compontent3 = part3;
                this.compontent4 = part4;
            }
            </script>
        }
        <hr />
        compontent1:
        <br />
        ${() => this.compontent1}
        compontent2:
        <br />
        ${() => this.compontent2}
        compontent3:
        <br />
        ${() => this.compontent3("Simple component 3", "template function")}
        <br />
        ${() => this.compontent4("Simple component 4", "template promise function")}
    </p>
</div>